/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.switch {
  cursor: pointer;
  width: 50px;
  height: 26px;
  background: var(--border-color);
  border-radius: 50px;
  position: relative;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
}

.switch span {
  font-size: 14px;
  pointer-events: none;
}

#theme-switch {
  display: none;
}

#theme-switch:checked + .switch {
  background: var(--accent-color);
}
